$TABLET: 750px;
$DESKTOP: 1100px;
body {
    background-color: #222 !important;
    height: auto;

    .redirectLanding {
        color: #fff;
        margin: 1em;
    }

    .showit {
        display: block;
    }

    div.content_wrapper {
        height: 100%;
        margin:auto auto;
        text-align: center;
        .headline h1 {
            color: #fff;
            text-align: center;
            margin: 3em 0 0 0;
            font-size: 2rem;
            @media (min-width: $TABLET) {
                margin-top: 6em;
                font-size: 2.5rem;
            }
            @media (min-width: $DESKTOP) {
                margin-top: 3em;
            }
        }
        form.linkShorteningForm {
            text-align: center;
            margin:auto auto;
            padding: 1em;
            width: 100%;

            @media (min-width: $TABLET) {
                padding: 1em;
                width: 90%;
            }
            @media (min-width: $DESKTOP) {
                padding: inherit;
                width: 60%;
            }

            input.linkInput {
                display: inline-flex;
                background-color: #444;
                color: #fff;
                width: 100%;
                margin-top: 0.5em;
                @media (min-width: $TABLET) {
                    width: 50%;
                    margin-top: 0.5em;
                }
                @media (min-width: $DESKTOP) {
                    width:45%;
                    margin-top: 2em;
                }
            }
            input.error {
                border-color: #bd2130;
            }
            label.expireLabel {
                color: #fff;
                margin: 0 2% 0 2%;
                width: 100%;
                margin: 1em 0 0 0;
                font-size: 1.25rem;
                @media (min-width: $TABLET) {
                    width: 20%;
                }
                @media (min-width: $DESKTOP) {
                    width: auto;
                    margin: 0 2% 0 2%;;
                    font-size: 1rem;
                }
            }
            input.dateInput {
                display: inline-flex;
                background-color: #444;
                color: #fff;
                margin: 1em 0 0 0;
                width: 100%;
                @media (min-width: $TABLET) {
                    width: 25%;
                    margin-top: 2em;
                }
            }

            button.submitBtn {
                display: block;
                background-color: green;
                border-color: #40a829;
                margin: 1em 0 0 0;
                width: 100%;

                @media (min-width: $TABLET) {
                    margin: 1.5em auto;
                    width: 20%;
                }
            }
        }

        div.resultPanel {
            background-color: #444;
            color: #fff;
            min-height: 3em;
            border-radius: 10px;
            margin: 1em;
            width: auto;

            @media (min-width: $TABLET) {
                margin: auto;
                width: 85%;
            }
            @media (min-width: $DESKTOP) {
                width: 50%;
                margin: auto;
            }

            p {
                display: inline-block;
                width:85%;
                font-size: 1.25rem;
                padding: 1em 0 0 0;
                text-align: center;
                word-break: break-all;

                @media (min-width: $TABLET) {
                    font-size: inherit;
                    padding: 1em;
                    text-align: left;
                }
            }

            button.cpyBtn {
                display: inline-block;
                color: #222;
                font-weight: bolder;
                font-size: 1.25rem;

                &:hover {
                    color: #aaa;
                }

                @media (min-width: $TABLET) {
                    font-size: inherit;
                }
            }
            textarea {
                height: 0;
                width: 0;
                background-color: #333;
                position: absolute;
                left: 100px;
                top: 99%;
                border-color: #333;
                &:focus {
                    border-color: #333;
                }
                &::selection {
                    background: #333;
                }
            }
        }
        
    }
}