footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #333;
    color: #fff;
    border-top: 1px solid black;
    min-height: 2.5em;
    padding: 12px 0 0 0;

    p {
        text-align: center;
    }
}